body {
    align-items: center;
    background: #33CC33FF;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.slider {
    overflow: hidden;
    width: 80%;
    background: #f9f9f9;
    padding: 30px 0;
}

.slide-track {
    display: flex;
    width: max-content;
    animation: scroll 75s linear infinite;
    gap: 180px;
}

.slide img {
    height: 100px;
    width: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}